.loading-component {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  
    .spinner {
      width: 60px;
      height: 60px;
      border: 5px solid rgba(0, 0, 0, 0.1);
      border-top-color: #0077ff;
      border-radius: 50%;
      animation: spin 1s ease-in-out infinite;
    }
  
    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
  }