.residence-permit-container {
  height: 40px;
  position: relative;
  width: max-content;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  justify-content: space-around;
  cursor: pointer;

  .residence-permit-button-container {
    position: relative;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: right;
  }
  .residence-permit-button {
    background-color: inherit;
    height: 80%;
    display: flex;
    align-items: center;
  }
  .arrow {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: flex-end;
    align-items: center;
    justify-content: center;
    transition: all 0.3s linear;
  }
  .arrow-up {
    scale: -1;
  }
  .residence-permit-menu {
    top: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 20vh;
    list-style: none;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    .residence-permit-menu-item {
      width: 100%;
      height: fit-content;
      display: flex;
      align-items: center;
      text-align: left;
      border: none;
      background-color: inherit;
      font-size: 18px;
      font-weight: 600;
      flex: 1;
      color: #333;
      &:hover {
        background-color: #d4f8ff;
      }
    }
  }
}
