.error-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff4d4d;
    color: #fff;
    height: 50px;
    font-size: 1.2rem;
    margin: 10px 0;
    span {
      text-align: center;
    }
  }